@font-face {
    font-family: "HelveticaRegular";
    src: url("../fonts/HelveticaRegular.eot");
    src: url("../fonts/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaRegular.woff") format("woff"),
    url("../fonts/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "HelveticaBold";
    src: url("../fonts/HelveticaBold.eot");
    src: url("../fonts/HelveticaBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaBold.woff") format("woff"),
    url("../fonts/HelveticaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Lobster-Regular";
    src: url("../fonts/Lobster-Regular.eot");
    src: url("../fonts/Lobster-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Lobster-Regular.woff") format("woff"),
    url("../fonts/Lobster-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}